.navBar {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    border-bottom: var(--border);

    a {
        color: default;
    }
}

.admin {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;

    > :not(:last-child) {
        border-right: var(--border);
    }
}