@import './variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  // main theme
  --color-primary: #52272b;

  // admin
  --border-radius: 5px;
  --border: 1px solid rgba(0, 0, 0, 0.3);
}

html,
body {
  font-family: Roboto, sans-serif;
}

body.main-theme {
  background: var(--color-primary);
  color: white;
}

body.no-scroll {
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

article {
  padding: 20px 40px 60px 40px;
  max-width: 800px;
  margin: 0 auto;
  font-weight: 300;

  $block-spacing: 30px;

  >*+:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    margin-top: $block-spacing;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-top: $block-spacing; // padding instead of margin so anchor links look nice
  }

  h2 {
    font-family: SunshineKiddy;
    text-align: center;
    font-size: 30px;

    @media(min-width: $mobile-width) {
      font-size: 56px;
    }
  }

  h3 {
    font-size: 20px;
  }

  p {
    line-height: 1.5em;
  }

  ul,
  ol {
    padding-inline-start: 20px;
  }

  li {
    margin-top: 0.5em;
  }

  a {
    text-decoration: underline;
  }

  blockquote {
    background: rgba(124, 139, 154, 0.13);
    padding: 1.2em 1.6em;
    border-radius: 3px;
  }
}

@font-face {
  font-family: "SunshineKiddy";
  font-style: normal;
  font-weight: normal;
  src: url("/sunshinekiddyfont.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");