.component {
    .label {
        opacity: 0.8;
    }

    >input {
        font-size: 16px;
        border: var(--border);
        border-radius: var(--border-radius);
        padding: 5px 10px;
    }
}