.button {
    appearance: none;
    border: none;
    background: none;

    border: var(--controls-border);
    background: var(--color-background-1);
    border-radius: 8px;
    padding: 10px 20px;
    min-height: 42px;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color-primary);

    width: 100%;
    max-width: 400px;
    align-self: center;
    text-decoration: none;

    &.primary {
        color: rgba(255, 255, 255, 0.9);
        background: var(--color-accent-1);
    }

    &.danger {
        color: var(--color-danger);

        &.primary {
            color: rgba(255, 255, 255, 0.9);
            background: var(--color-danger);
        }
    }

    &.compact {
        padding: 5px 10px;
        min-height: 32px;
    }

    &.borderless {
        border-color: transparent;
    }

    &:disabled {
        cursor: default;
        filter: contrast(0.8);
    }
}