
.button {
    appearance: none;
    border: none;
    background: none;

    border: var(--controls-border);
    background: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);

    width: 100%;
    max-width: 400px;
    align-self: center;

    &.primary {
        color: rgba(255, 255, 255, 0.9);
        background: var(--color-accent-1);
        border: 1px solid rgba(255, 255, 255, 0.9)
    }

    &.danger {
        border: 1px solid red;
        color: red;
        
        &.primary {
            color: rgba(255, 255, 255, 0.9);
            background: red;
        }
    }

    &:disabled {
        cursor: default;
        opacity: 0.7;
    }
}
