.checkbox {
    display: flex;
    align-items: baseline;

    >input[type="checkbox"] {
        display: flex;
        justify-content: center;
        align-items: center;

        appearance: none;
        width: var(--checkbox-size);
        height: var(--checkbox-size);
        border: var(--controls-border);
        border-radius: 4px;
        margin-right: 8px;

        transition: all 0.1s ease-out;

        flex-grow: 0;
        flex-shrink: 0;

        &::before {
            @extend .material-symbols-outlined;

            content: 'check';
            color: rgba(255, 255, 255, 0.9);
            opacity: 0;
            transition: all 0.1s ease-out;
            font-size:14px;
        }

        &:checked {
            background: var(--color-accent-1);
            border-color: var(--color-accent-1);

            &::before {
                opacity: 1;
            }
        }
    }

    >.error {
        color: red;
        overflow: hidden;
        height: 1.2em;
        margin-top: 4px;

        transition: all 0.1s ease-out;

        &:not(.visible) {
            pointer-events: none;
            opacity: 0;
            height: 0;
        }
    }
}