.checkbox {
    cursor: pointer;

    &.disabled {
        cursor: default;
        filter: contrast(0.8);
    }

    >.square-and-label {
        display: flex;
        align-items: baseline;

        >input[type="checkbox"] {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: inherit;

            appearance: none;
            width: var(--checkbox-size);
            height: var(--checkbox-size);
            border: var(--controls-border);
            border-radius: 4px;
            margin-right: 6px;

            flex-grow: 0;
            flex-shrink: 0;

            &::before {
                content: 'check';

                // copied from .material-symbols-outlined
                font-family: 'Material Symbols Outlined';
                font-weight: normal;
                font-style: normal;
                font-size: 24px;
                line-height: 1;
                letter-spacing: normal;
                text-transform: none;
                display: inline-block;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;

                color: rgba(255, 255, 255, 0.9);
                opacity: 0;
                font-size: 14px;
            }

            &:checked {
                background: var(--color-accent-1);
                border-color: var(--color-accent-1);

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    >.error-message {
        margin-top: 4px;
    }
}