.date-field {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--color-tertiary);

    transition: color 0.1s ease-out, opacity 0.1s ease-out;

    --focus-color: rgb(0, 166, 255);

    &:focus-within>.label {
        color: var(--focus-color);
    }

    >input::placeholder {
        color: var(--color-secondary);
    }

    >input {
        appearance: none;
        border: none;
        background: none;

        color: var(--color-primary);
        border: var(--controls-border);
        background: var(--color-background-1);
        font-size: 16px;
        font-weight: 300;
        font-family: inherit;
        border-radius: 8px;
        padding: 10px;
        margin-top: 5px;

        transition: border-color 0.1s ease-out;

        &:focus {
            outline: none;
            border-color: var(--focus-color);
            box-shadow: 0px 0px 3px var(--focus-color);
        }

        @media (prefers-color-scheme: dark) {
            color-scheme: dark;
        }
    }

    &.disabled {
        > input {
            filter: contrast(0.8);
        }
    }

    >.error-message {
        margin-top: 4px;
    }
}