
.error-message {
    color: var(--color-danger);
    overflow: hidden;
    height: 1.2em;
    font-size: 14px;

    transition: all 0.1s ease-out;

    &:not(.visible) {
        pointer-events: none;
        opacity: 0;
        height: 0;
    }
}