.input {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    flex-grow: 1;
    color: var(--color-tertiary);

    transition: color 0.1s ease-out;

    --focus-color: rgb(0, 166, 255);

    &:focus-within>.label {
        color: var(--focus-color);
    }

    >.input-wrapper {
        position: relative;
        margin-top: 5px;

        >.placeholder {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: flex-start;
            gap: 6px;
            padding: 10px;
            color: var(--color-secondary);
            font-size: 16px;
            font-weight: 300;
            pointer-events: none;

            >.icon {
                font-size: 20px;
            }
        }

        >input,
        >textarea {
            appearance: none;
            border: none;
            background: none;

            width: 100%;
            color: var(--color-primary);
            border: var(--controls-border);
            background: var(--color-background-1);
            font-size: 16px;
            font-weight: 300;
            border-radius: 8px;
            padding: 10px;

            transition: border-color 0.1s ease-out;

            &:focus {
                outline: none;
                border-color: var(--focus-color);
                box-shadow: 0px 0px 3px var(--focus-color);
            }
        }

        >textarea {
            resize: none;
            font-family: inherit;
        }

        >.end-button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 0 10px;
            border: none;
            border-left: var(--controls-border);
            background: none;
            color: var(--color-tertiary);
            font-size: 14px;
            cursor: pointer;
            border-radius: 0 8px 8px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &.multiline > .input-wrapper > .end-button {
        bottom: auto;
        border-radius: 0 8px 0 0;
    }

    &.disabled {
        .input-wrapper > input,
        .input-wrapper > textarea {
            filter: contrast(0.8);
        }
    }

    >.error-message {
        margin-top: 4px;
    }
}