
.loading-dots {
    --dot-size: calc(var(--size) / 3);
    --dot-distance: calc(var(--size) / 2 - var(--dot-size) / 2);
    
    width: var(--size);
    height: var(--size);

    display: flex;
    justify-content: center;
    align-items: center;

    .spinner, .spinner>* {
        animation: 2s cubic-bezier(.7, 0.05, .3, 0.95) infinite running spin;
    }

    .spinner {
        position: relative;

        >* {
            width: var(--dot-size);
            height: var(--dot-size);
            border-radius: 50%;
            flex-shrink: 0;
            position: absolute;
            top: calc(var(--dot-size) / 2 * -1);
            left: calc(var(--dot-size) / 2 * -1);
            background: var(--dot-color);

            &:nth-of-type(1) {
                animation-name: dot1;
            }
            &:nth-of-type(2) {
                animation-name: dot2;
            }
            &:nth-of-type(3) {
                animation-name: dot3;
            }
            &:nth-of-type(4) {
                animation-name: dot4;
            }
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(720deg);
    }
}

@keyframes dot1 {
    0% {
        transform: translateX(calc(-1 * var(--dot-distance))) scale(0.5);
    }
    50% {
        transform: translateX(0px) scale(1);
    }
    100% {
        transform: translateX(calc(-1 * var(--dot-distance))) scale(0.5);
    }
}
@keyframes dot2 {
    0% {
        transform: translateX(var(--dot-distance)) scale(0.5);
    }
    50% {
        transform: translateX(0px) scale(1);
    }
    100% {
        transform: translateX(var(--dot-distance)) scale(0.5);
    }
}
@keyframes dot3 {
    0% {
        transform: translateY(calc(-1 * var(--dot-distance))) scale(0.5);
    }
    50% {
        transform: translateY(0px) scale(1);
    }
    100% {
        transform: translateY(calc(-1 * var(--dot-distance))) scale(0.5);
    }
}
@keyframes dot4 {
    0% {
        transform: translateY(var(--dot-distance)) scale(0.5);
    }
    50% {
        transform: translateY(0px) scale(1);
    }
    100% {
        transform: translateY(var(--dot-distance)) scale(0.5);
    }
}