
.multi-view {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;

    >.sliding-container {
        position: absolute;
        top: 0;
        left: calc(100% * -1 * var(--current-view));
        transition: left 0.2s ease-out;
        width: calc(100% * var(--view-count));
        height: 100%;
        display: flex;
        justify-content: stretch;
        align-items: stretch;

        >.slide {
            overflow-y: auto;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
        }
    }
}
