.number-input {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--color-tertiary);

    &:disabled {
        filter: contrast(0.5);
    }

    --focus-color: rgb(0, 166, 255);

    &:focus-within>.label {
        color: var(--focus-color);
    }

    >input::placeholder {
        color: var(--color-secondary);
    }
    >textarea::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }

    >input {
        appearance: none;
        border: none;
        background: none;

        color: var(--color-primary);
        border: var(--controls-border);
        background: var(--color-background-1);
        font-size: 16px;
        font-weight: 300;
        border-radius: 8px;
        padding: 10px;
        margin-top: 5px;

        &:focus {
            outline: none;
            border-color: var(--focus-color);
            box-shadow: 0px 0px 3px var(--focus-color);
        }
    }

    >.error-message {
        margin-top: 4px;
    }
}