.radio-group {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;

  &:disabled {
    opacity: 0.6;

    >label {
      cursor: default;
    }
  }

  >label {
    margin-top: 8px;
    display: flex;
    align-items:center;
    cursor: pointer;

    >input {
      appearance: none;
      margin: 0;
      position: relative;
      margin-right: 8px;
      cursor: inherit;

      &::before {
        content: '';
        display: block;
        width: var(--checkbox-size);
        height: var(--checkbox-size);
        border-radius: 50%;
        border: var(--controls-border);
      }

      &::after {
        --dot-size: 8px;

        content: '';
        display: block;
        width: var(--dot-size);
        height: var(--dot-size);
        border-radius: 50%;
        background: transparent;
        position: absolute;
        top: calc(calc(var(--checkbox-size)) / 2 - var(--dot-size) / 2);
        left: calc(calc(var(--checkbox-size)) / 2 - var(--dot-size) / 2);
      }

      &:checked {
        &::before {
          background: rgb(79, 176, 229);
          border-color: transparent;
        }
        &::after {
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  >.error-message {
      margin-top: 8px;
      margin-bottom: 8px;
  }
}