.radio-group {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;

  &:disabled {
    filter: contrast(0.8);

    >label {
      cursor: default;
    }
  }

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  >legend {
    font-size: 14px;
    color: var(--color-tertiary);
    margin-bottom:5px;
  }

  >label {
    display: flex;
    align-items:center;
    cursor: pointer;

    >input {
      appearance: none;
      margin: 0;
      position: relative;
      margin-right: 6px;
      cursor: inherit;

      &::before {
        content: '';
        display: block;
        width: var(--checkbox-size);
        height: var(--checkbox-size);
        border-radius: 50%;
        border: var(--controls-border);
      }

      &::after {
        --dot-size: 8px;

        content: '';
        display: block;
        width: var(--dot-size);
        height: var(--dot-size);
        border-radius: 50%;
        background: transparent;
        position: absolute;
        top: calc(calc(var(--checkbox-size)) / 2 - var(--dot-size) / 2);
        left: calc(calc(var(--checkbox-size)) / 2 - var(--dot-size) / 2);
      }

      &:checked {
        &::before {
          background: rgb(79, 176, 229);
          border-color: transparent;
        }
        &::after {
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  >.error-message {
      margin-top: 8px;
      margin-bottom: 8px;
  }
}