
.compactEvents {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    > a { // "rows"
        display: flex;
        color: inherit;
        text-decoration: none;
        background: var(--color-background-1);

        &:nth-child(2n) {
            background: var(--color-background-2);
        }

        &.headings {
            font-weight: bold;
        }

        > div { // "cells"
            padding: 5px 0px;

            &.time {
                width: 105px;
                flex-shrink: 0;
                flex-grow: 0;
                padding-left: 4px;
            }
            &.name {
                flex-grow:1;
            }


            &.filmed {
                display: flex;
                justify-content: center;
                align-items: center;
                width:24px;
                flex-shrink: 0;
                flex-grow: 0;

                .icon {
                    color: var(--color-danger);
                    font-size: 1em;
                }
            }
        }
    }
}

.eventCardWrapper {
    padding: 5px 20px;

    &.duringFestival {
        background: rgba(255, 89, 0, 0.1);

        &.firstOfFestival {
            box-shadow: rgba(255, 230, 180, 0.5) 0px 10px 10px inset;
        }
    }

    >.festivalStart {
        padding: 12px 0 8px 0px;
        text-align: center;
        font-weight: bold;
    }
}

.scrollToTopButton {
    position: fixed;
    left: calc(50vw - 68.24px);
    top: 10px;
    width: auto;
    padding: 5px 10px;
    border-radius: 21px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    transition: opacity 0.2s ease-out, transform 0.2s ease-out;

    > .icon {
        transform: rotate(90deg);
    }

    &.hidden {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.eventCard {

    &.official {
        border: 1px solid rgb(255, 215, 0);

        .eventCreator {
            font-weight: 500;
        }
    }

    &.TEAM_OFFICIAL {
        border-color: var(--color-accent-1);

        .info.host {
            color: var(--color-accent-1);

            .icon {
                color: var(--color-accent-1);
            }
        }
    }

    &.CAMPSITE_OFFICIAL {
        border-color: var(--color-accent-2);
        
        .info.host {
            color: var(--color-accent-2);

            .icon {
                color: var(--color-accent-2);
            }
        }
    }

    &.will_be_filmed {
        border-color: var(--color-danger);
    }
}

.eventInfo {

    >.eventName {
        font-size: 20px;
        min-height: 36px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info {

        > * {
            vertical-align: middle;
        }

        .icon {
            flex-grow: 0;
            flex-shrink: 0;
            font-size: 18px;
            color: var(--color-secondary);
            margin-right: 4px;
        }
    }

    .info.filmed {
        color: var(--color-danger);

        .icon {
            color: var(--color-danger);
        }
    }
}