* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  image-rendering: crisp-edges;

  --color-primary: #52272b;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "SunshineKiddy";
  font-style: normal;
  font-weight: normal;
  src: url("/sunshinekiddyfont.ttf") format("truetype");
}