@import './roboto.scss';
@import './icons.scss';
@import './components/core/Button.scss';
@import './components/core/Checkbox.scss';
@import './components/core/Col.scss';
@import './components/core/DateField.scss';
@import './components/core/ErrorMessage.scss';
@import './components/core/InfoBlurb.scss';
@import './components/core/Input.scss';
@import './components/core/LoadingDots.scss';
@import './components/core/Modal.scss';
@import './components/core/MultiView.scss';
@import './components/core/NumberInput.scss';
@import './components/core/RadioGroup.scss';
@import './components/core/Row.scss';
@import './components/core/RowSelect.scss';
@import './components/core/Stripes.scss';
@import './components/Events.scss';

*, ::before, ::after {
    transition: all 0.1s ease-out;
    transition: width 0s;
    transition: height 0s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overscroll-behavior: none;
}

html {
    --color-primary: rgba(0, 0, 0, 0.8);
    --color-secondary: rgba(0, 0, 0, 0.2);
    --color-accent-1: rgb(79, 176, 229);

    --checkbox-size: 16px;
    --controls-border: 1px solid rgba(0, 0, 0, 0.3);
}

body {
    margin: 0;
    margin: 0 auto;

    color: var(--color-primary);
    font-family: 'Roboto';
    font-weight: 300;
    /* background: rgb(255, 250, 229); */

}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position:relative;
    overflow: hidden;
}

pre {
    font-family: inherit;
    white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6 {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

hr {
    margin: 0;
}

.card {
    border-radius: 20px;
    padding: 20px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.login {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    z-index:1;

    .logo {
        display: block;
        width: min(50vw, 200px, 20vh);
        height: min(50vw, 200px, 20vh);
        opacity: 0.9;
        align-self: center;
    }
}

.nav {
    min-height: 60px;
    background: #fffae5;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    z-index: 10;
    flex-grow: 0;
    flex-shrink: 0;

    button {
        appearance: none;
        border: none;
        background: none;

        flex-grow: 1;
        flex-shrink: 1;
        width: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
        font-weight: 500;
        max-width: 120px;

        &.active {
            color: var(--color-primary);
            // transform: translateY(-10px);
        }
    }

    @media (display-mode: standalone) {
        padding-bottom: 20px;
        min-height: 80px;
    }
}

.invite-code {
    color: rgba(0, 0, 0, 0.9);

    > .code-widget {
        border: var(--controls-border);
        background: white;
        font-weight: 300;
        border-radius: 8px;
        overflow: hidden;

        display: flex;
        justify-content: stretch;
        align-items: stretch;

        > .code {
            padding: 10px;
            flex-grow: 1;
            flex-shrink: 1;
            font-size: 16px;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }

        > button {
            appearance: none;
            width: 48px;
            flex-grow: 0;
            flex-shrink: 0;

            color: rgba(255, 255, 255, 0.9);
            background: var(--color-accent-1);
            border: none;

            > span {
                font-size: 20px;
            }
        }
    }

    &.used {
        > .code-widget {
            > * {
                opacity: 0.6;
                user-select: none;
                pointer-events: none;
            }
        }
    }

    > .used-by {
        margin-top: 2px;
        height: 1em;
        font-size: 12px;
    }
}

// HACK: Override some weird styles Stripe puts on the iframe it creates
iframe {
    margin: 0 !important;
    width: 100% !important;
}

.attendee-info-form-sticky-header {
    position: sticky;
    top: 8px;
    left: -20;
    background: white;
    z-index: 10;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    text-align: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.price-line-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    > * {
        overflow: hidden;
    }

    > :nth-child(2) {
        flex-shrink: 0;
    }
}