@import '../pages/variables.scss';

.headerSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: SunshineKiddy;
    font-size: 50px;
    color: white;
    text-shadow: rgb(0, 0, 0) -1px -1px 3px, rgb(0, 0, 0) 1px -1px 3px, rgb(0, 0, 0) -1px 1px 3px, rgb(0, 0, 0) 1px 1px 3px;
    height: 600px;
    background: linear-gradient(0deg, #eacc9d, #ea6152);
    background-size: auto 200%;
    animation-name: shift-sky;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: var(--delay);
    animation-direction: alternate;

    @media(min-width: $mobile-width) {
        font-size: 100px;
    }

    &.largeBanner {
        height: 100vh;
    }

    .stars {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        pointer-events: none;

        .star {
            position: absolute;
            border-radius: 50%;
            height: var(--size);
            width: var(--size);
            background: white;

            animation-name: shine;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-delay: var(--delay);
            animation-direction: alternate;
        }
    }

    >a, >img {
        z-index: 1;
    }

    img {
        margin-top: 30px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        max-height: 50%;
        height: 400px;
        image-rendering: crisp-edges;
        background: bottom left 100px/contain repeat-x url("/trees.png");

    }
}

.footerSection {
    padding: 60px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);

    .donateLink {
        display: block;
        font-family: SunshineKiddy;
        text-align: center;
        font-size: 32px;

        @media(min-width: $mobile-width) {
            font-size: 48px;
        }
    }
}

.footerNotes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    a {
        text-decoration: underline;
    }
}

@keyframes shift-sky {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -200px;
    }
}

@keyframes shine {
    0% {
        box-shadow: 0px 0px 2px white, 0px 0px 5px white;
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        box-shadow: 0px 0px 5px white, 0px 0px 25px white;
        transform: scale(1.0);
        opacity: 0.8;
    }
}